
  body {
    min-height: 100vh;
    overflow-y: hidden;
  }
  .main-user{
    width: 100%;
    height: 45em;
    background-image: url("https://image.freepik.com/fotos-gratis/transicao-de-cor-azul_23-2147734218.jpg");
    background-size: 100%;
  }
  .form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title-form {
    font-size: 18px;
    letter-spacing:-1px;
    color: var(--dark-color);
    border-bottom: 2px solid var(--tamy);
    padding-bottom: 2px;
    font-weight: 500;
    font-family:var(base-font-family);
    animation: move 400ms;
    animation-delay: 100ms;
    animation-fill-mode: backwards;
  }
  .form-user {
    width: 25em;
    background-color: white;
    padding: 30px 25px;
    border-radius: 5px;
    margin-top: 10em;
  }
  .form-user .input-block {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .form-user .input-block label {
    font-size: 14px;
    color: darkslateblue;
  }
  
  .form-user .input-block input {
    width: 100%;
    display: block;
    margin-top: 1em;
    padding: 7px;
    font-size: 16px;
    color: var(--dark-color);
    border-radius: 2px;
    border: 1px solid #ccddef;
    outline-color: var(--dark-color);
  }
  
  .form-user .btn-login {
    display: block;
    min-width: 10em;
    border: none;
    background-color: var(--tamy);
    color: var(--white-color);
    border-radius: 25px;
    margin: auto;
    padding: 10px;
    margin-top: 2em;
    font-family:var(base-font-family);
  }
  
  .form-user .btn-login:hover{
    cursor: pointer;
    outline: none;
    background-color: #007e65;
  }
  .link-log{
    margin-top: 1em;
    text-align: center;
    color: var(--tamy);
  }  
  .link-log a{
    color: var(--dark-color);
  }
  /* APARIÇÃO DO FORM */
  .form-user {
    overflow: hidden;
    animation: fade 0.2s;
  }
  
  .form-user .input-block:nth-child(1) {
    animation: move 500ms;
  }
  
  .form-user .input-block:nth-child(2) {
    animation: move 400ms;
    animation-delay: 100ms;
    animation-fill-mode: backwards;
  }
  
  .form-user .btn-login {
    animation: move 400ms;
    animation-delay: 250ms;
    animation-fill-mode: backwards;
  }
  
  @keyframes move {
    from {
      opacity: 0;
      transform: translateX(-35%);
    }
    to {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  
  @keyframes fade {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @media screen and (max-width: 500px){
    .form-user{
      width: 20em;
    }
    .main-user{
      background-image: url("https://image.freepik.com/fotos-gratis/transicao-de-cor-azul_23-2147734218.jpg");
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }

  }