@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans JP', sans-serif;
}

body{
    overflow-x: hidden;
}

.dash{
    width: 100%;
    margin: 0 auto;
    margin-top: 3em;
    background-color: #f9f7f7;
}
.wellcome{
    font-weight: var(--font-weight-normal);
    line-height: normal;
    font-size: 20pt;
    color: #233142;
}
.nav-pages{
    background-color:var(--dark-color);
}

.title-tribos{
    color: #233142;
	letter-spacing: 0px;
	font-size: 20px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin-top: 1em;
	font-weight: var(--font-weight-normal);
	font-family: var(--base-font-family);
}

/* CARDS*/
.tribos{
	width: 100%;
	padding: auto;
}
.wrapper{
    width: 100%;
    padding-bottom:25px;
    margin-top: 2em;
}
.cards_wrap{
	padding: 15px;
	width: 33%;
    display: inline-flex;
    margin: 0 auto;
}
.cards_wrap .card_item{
	width: 30em;
}

.cards_wrap .card_inner{
	background: var(--dark-color);
	border-radius: 5px;
	padding: 35px 20px;
}

.cards_wrap .card_item img{
	width: 80px;
	height: 80px;
    border-radius: 50%;
}

.cards_wrap .card_item .role_name{
	color: #FFF;
	font-weight: 900;
	letter-spacing: 0px;
	text-transform: uppercase;
	font-size: 20px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cards_wrap .card_item .real_name{
	color: #FFF;
	font-size: 12px;
	font-weight: 100;
	margin: 5px 0 10px;
}

.cards_wrap .card_item .film{
	font-size: 14px;
	line-height: 24px;
	color: #FFF;
}

.buttons{
    margin-top: 1em;
}
.eventos-publicos,
.eventos-privados{ 
	width: 100%;
	padding: 20px;
	background-color: #f9f7f7;
}
.table-evento{
	margin-top: 8em;
	margin-bottom: 2em;
}

.color-table{
	background-color: #9df3c4;
	color: var(--dark-color);
	font-weight: var(--font-weight-normal);
}
.color-table-bh{
	background-color: #f9f7f7;
	color: var(--dark-color);
}
.confirme{
	width: 50em;
	padding: 5px;
	background-color: var(--dark-color);
	margin: 15em auto;
	text-align: center;
	color: white;
}

.new-tribo,
.new-evento{
	margin-top: 5em;
}
.new-tribo h2,
.new-evento h2{
	font-size: var(--h4-font-size);
	font-weight: var(--font-weight-bold);
	letter-spacing: -2px;
	padding-top: 2em;
}
.line{
	width: 50em;
}
@media screen and (max-width: 1024px){
	.cards_wrap .card_item{
		width: 33%;
	}
}

@media screen and (max-width: 768px){
	.cards_wrap .card_item{
		width: 50%;
	}
}

@media screen and (max-width: 568px){
	.cards_wrap .card_item{
		width: 100%;
	}
    .wellcome{
        font-size: 16pt;
        margin-top: 1em;
    }
    .cards_wrap{
        display: block;
        width: 98%;
    }
    .title-tribos{
        text-align: center;
    }
	.confirme{
		width: 95%;
	}
	.new-tribo{
		width: 100%;
		margin: 5em auto;
	}
	.new-tribo h2,
	.new-evento h2{
		text-align: center;
	}
	
	.line{
		width: 100%;
	}
	.eventos-publicos,
	.eventos-privados{ 
		padding: 0;
	}
}